NEXT_PUBLIC_SUPABASE_URL=https://agkiflhgcvahluchgqfh.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=sb_publishable_qjaGtwbKD7fN38Vb-XA8dA_PaEhjXuC
POSTGRES_HOST=db.agkiflhgcvahluchgqfh.supabase.co
POSTGRES_PORT=5432
POSTGRES_DATABASE=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=Bankai2005!!!@@
POSTGRES_SSL=true

ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin
SESSION_SECRET=replace-this-secret-before-production
